/* Globals */
.slide {background: #0D47A1; color: #FFF; }
.char {color: #FFF;}
.tag {color: #A52A2A;}
.attr {color: #FF7F50;}
code .content {color: #FFF9C4;}
.slide > div {
  padding: 60px 80px 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.slide > div > img{
  max-width: 100%;
  margin: 0 auto;
}
.slide h2{color: #fff;}
.slide h2.large {
  font-size: 80px;
  top: 50%;
  margin: 0;
  position: relative;
}
.slide.shout:after {visibility: visible;}
.slide.shout h2 {font-size: 4em;}
.slide.shout.supertext h2 {font-size: 7em;}
.slide p {
  margin: 0 0 20px;
}
.slide a { color:#8FDCFF; }

.slide .title-bottom {
  bottom: 30px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
}

.slide.cover img, .slide.cover svg,
.slide.cover video, .slide.cover object,
.slide.cover canvas, .slide.cover iframe { max-width: 100%; }

.slide pre[class*='language-']{
  padding: 10px 15px;
  position: relative;
}
.slide pre::before{
  content: attr(data-lang);
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px 10px;
  background: #999;
  color: #FFF;
  font-size: 20px;
}
.slide pre code { line-height: 1.3em; font-size: 20px; }
.slide pre code:before {display: none;}

.slide .full {position: relative;}
.slide .full > div {padding: 0; width: 100%; height: 100%;}
.slide.topic h2 {font-size: 60px; top: 50px;}

.picture h2 {color:#FFF; text-align: center;}
.picture img {height: 100%; width: auto; margin: 0 auto; right: 0;}

.slide.cover.center h2 {text-align:center;}

.slide.shout.texttop h2 {
  top:30%;
}
.slide.shout.textlight h2 {
  color: #FFF;
  text-shadow: 5px 5px 10px #000;
}
.slide.shout.textdark h2 {
  color: #666;
}
.shout img {
  height: auto;
  min-height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  z-index: -1;
}
.slide img.small {
  bottom: 0;
  min-height: 60%;
  width: auto;
  top: 0;
  margin: auto;
}
.slide img.medium {
  width: 600px;
  margin: 0 auto;
  display: block;
}

/* Cover slide */
#inicio h2 {
  /*margin:340px 0 0;*/
  color:#FFF;
  text-align:center;
  font-size:70px;
}
#inicio p {
  margin:10px 0 0;
  text-align:center;
  color:#FFF;
  font-style:italic;
  font-size:20px;
}
#inicio p a {
  color:#FFF;
}

#jsx.slide pre[class*='language-'],
#estado.slide pre[class*='language-'] {
  padding-top: 0px;
}
#estado.slide pre code {
  font-size: 0.7em;
}
#data-binding.slide pre code {
  font-size: 0.7em;
}
#seemore img.logo-github {
  display: inline-block;
  max-width: 50px;
  margin-bottom: -10px;
  position: relative;
}

#thanks {background: #000;}
#thanks h2 {
  text-shadow: -1px -1px 5px #FFF;
  top: 70px;
}
#thanks img {
  height:100%;
  margin-top: 70px;
  width:auto;
}
.qrcode {
  position: absolute;
  right: 60px;
  bottom: 60px;
}